<!-- article summarization web page-->
{% load static %}
<html>
    <head>
        <title>ArtSum</title>
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <link rel="icon" type="image/png" href="{% static 'ArtSum/2.png'%}">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="" class="brand-logo"><img src="{% static 'ArtSum/1.png'%}" alt="Article Summarization Logo" class="logo"></a>
                    
                </div>
            </nav>
        </header>
        <!--form input article at left and textfield output result at right-->
        <div class="container">
            <div class="menuBar">
                <h3>Modes:</h3>
                <div>
                    <input type="radio" id="naive_bayes" name="mode" value="naive_bayes" checked>
                    <label for="naive_bayes">Naive Bayes</label>
                </div>
                <div>
                    <input type="radio" id="neural_network" name="mode" value="neural_network">
                    <label for="neural_network">Neural Network</label>
                </div>
                <div>
                    <input type="radio" id="decision_tree" name="mode" value="decision_tree">
                    <label for="decision_tree">Decision Tree</label>
                </div>
            </div>
            <div class="leftRightContainer">
                <div class="left">
                    <form>
                        {% csrf_token %}
                        <textarea name="text">{{ text }}</textarea>
                        <input class="submit" type="submit" value="Summarize" onclick="summarize(); return false;" />
                    </form>                     
                    <form action="upload/" method="POST" enctype="multipart/form-data"id="summarize-form">
                        {% csrf_token %}
                        <label class="uploadtag">
                            Upload
                            <input class="upload" type="file" name="pdf_file" accept=".pdf" onchange="upload()"/>
                        </label>
                    </form>
                    <center><div class="word-count" id="word-count" style="display:none;"><span id="word-count"></span> Words </div></center>
                </div>
                <div class="right">
                    <div id="loading" class="loading"></div>
                    <form>
                        {% csrf_token %}
                        <textarea readonly name="summary">
                            {{ summary|safe }}
                            
                        </textarea>
                    </form>
                    <center>
                        <div class="summarydiv" id="summarydiv" style="display:none;"><span id="summary-count"></span> Words 
                        </br>
                          <p>Summarization Time: <span id="time-counter"></span></p>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <footer>
          <center><p> &copy 2023 Article Summarization LIM WU TONG 72789</p></center>
        </footer>
    </body>
    <script>
        function upload() {
            const wordCount = document.getElementById('word-count');
            wordCount.style.display = 'block';
            var formData = new FormData();
            var fileInput = document.querySelector('input[type="file"]');
            var file = fileInput.files[0];
            formData.append('pdf_file', file);
          
            fetch('/upload/', {
              method: 'POST',
              body: formData,
              headers: {
                'X-CSRFToken': "{{ csrf_token }}",
              },
            })
              .then(function (response) {
                return response.json();
              })
              .then(function (data) {
                var textArea = document.querySelector('textarea[name="text"]');
                textArea.value = data.text;
                var wordCount = data.num_words;
                var wordCountLabel = document.querySelector('span[id="word-count"]');
                wordCountLabel.innerHTML = wordCount;
              })
              .catch(function (error) {
                console.log(error);
              });
        }

        function summarize() {
          var startTime = performance.now();
          // clear the summary textarea
            document.getElementsByName('summary')[0].value = '';
            // Show the loading animation
            document.getElementById('loading').style.display = 'block';
            // Get the selected algorithm
            var algorithm;
            if (document.getElementById('naive_bayes').checked) {
              algorithm = 'naive_bayes';
            } else if (document.getElementById('neural_network').checked) {
              algorithm = 'neural_network';
            } else if (document.getElementById('decision_tree').checked) {
              algorithm = 'decision_tree';
            }
          
            // Send a POST request to the summarize view using the fetch API
            var formData = new FormData();
            formData.append('text', document.getElementsByName('text')[0].value);
            formData.append('mode', algorithm);
            fetch('summarize/', {
              method: 'POST',
              body: formData,
              headers: {
                'X-CSRFToken': "{{ csrf_token }}"
              }
            }).then(function(response) {
              return response.text();
            }).then(function(summary) {
                document.getElementById('loading').style.display = 'none';
                document.getElementById('summarydiv').style.display = 'block';
                var jsonString = summary;
                var jsonObject = JSON.parse(jsonString);
                var summaryResult = jsonObject.summary;
                console.log(summary)
                document.getElementsByName('summary')[0].value = summaryResult;
                var summaryCount = jsonObject.summary_count;
                var summaryCountLabel = document.querySelector('span[id="summary-count"]');
                summaryCountLabel.innerHTML = summaryCount;
                // Calculate the elapsed time
                var elapsedTime = performance.now() - startTime;

                // Convert the elapsed time to a human-readable format
                var elapsedSeconds = Math.round(elapsedTime / 1000);
                var elapsedMinutes = Math.floor(elapsedSeconds / 60);
                var elapsedSecondsRemainder = elapsedSeconds % 60;
                var elapsedFormatted = elapsedMinutes + "m " + elapsedSecondsRemainder + "s";

                // Update the time counter element in the HTML
                var timeCounter = document.getElementById("time-counter");
                timeCounter.textContent = elapsedFormatted;
            });
        
        }
    </script>
</html>
